<div id="display-main"></div>

<div id="instances" hidden>
    <div class="option-list" id="list"></div>
    <h4 class="option-title" id="title">Example title</h4>
    <hr id="line">
    <fieldset id="group">
        <legend>Example group</legend>
    </fieldset>
    
    <div class="option-entry" id="entry-text">
        <div class="option-name"><span>Example name</span></div>
        <input class="option-value" type="text" value="Example value" multiple />
    </div>
    <div class="option-entry" id="entry-color">
        <div class="option-name"><span>Example color</span></div>
        <input class="option-color" type="color" value="#00FF00" />
        <input class="option-value" type="text" value="#00FF00" />
    </div>
    <div class="option-entry" id="entry-number">
        <div class="option-name"><span>Example number</span></div>
        <input class="option-value" type="number" value="25" />
    </div>
    <div class="option-entry" id="entry-select">
        <div class="option-name"><span>Example select</span></div>
        <select class="option-value">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option id="select-item" value="hamster">Hamster</option>
            <option id="select-item-current" value="parrot" selected>Parrot</option>
            <option value="spider">Spider</option>
            <option value="goldfish">Goldfish</option>
        </select>
    </div>
</div>
<!--
<div class="option-list">
    <h4 class="option-title">Example title</h4>
    <hr>
    <div class="option-entry">
        <div class="option-name"><span>Example name</span></div>
        <input class="option-value" type="text" value="Example value" multiple />
    </div>
    <div class="option-entry">
        <div class="option-name"><span>Example color</span></div>
        <input class="option-color" type="color" value="#00FF00" />
        <input class="option-value" type="text" value="#00FF00" />
    </div>
    <div class="option-entry">
        <div class="option-name"><span>Example number</span></div>
        <input class="option-value" type="number" value="25" />
    </div>
    <div class="option-entry">
        <div class="option-name"><span>Example select</span></div>
        <select class="option-value">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="hamster">Hamster</option>
            <option value="parrot" selected>Parrot</option>
            <option value="spider">Spider</option>
            <option value="goldfish">Goldfish</option>
        </select>
    </div>

    <div class="option-entry">
        <div class="option-name"><span>Example name</span></div>
        <input class="option-value" type="text" value="Example value" disabled />
    </div>
</div>
<fieldset>
    <legend>Disabled params</legend>
    <div class="option-list">
        <div class="option-entry">
            <div class="option-name"><span>Example color</span></div>
            <input class="option-color" type="color" value="#00FF00" disabled />
            <input class="option-value" type="text" value="#00FF00" disabled />
        </div>
        <div class="option-entry">
            <div class="option-name"><span>Example number</span></div>
            <input class="option-value" type="number" value="25" disabled />
        </div>
        <div class="option-entry">
            <div class="option-name"><span>Example select</span></div>
            <select class="option-value" disabled>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="hamster">Hamster</option>
                <option value="parrot" selected>Parrot</option>
                <option value="spider">Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Disabled params</legend>
    <div class="option-list">
        <div class="option-entry">
            <div class="option-name"><span>Example color</span></div>
            <input class="option-color" type="color" value="#00FF00" disabled />
            <input class="option-value" type="text" value="#00FF00" disabled />
        </div>
        <div class="option-entry">
            <div class="option-name"><span>Example number</span></div>
            <input class="option-value" type="number" value="25" disabled />
        </div>
        <div class="option-entry">
            <div class="option-name"><span>Example select</span></div>
            <select class="option-value" disabled>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="hamster">Hamster</option>
                <option value="parrot" selected>Parrot</option>
                <option value="spider">Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>
        </div>
    </div>
</fieldset>
-->